In [ ]:
# ***Pandas***

* ***pandas are used to set the data in tabular format***
* ***pandas can create data in two ways***
    * ***series***
    * ***Data Frame***
* ***We can access the large volume of files using pandas***
* ***pandas are used to analyse and to leann the data***

In [2]:
import pandas as pd

In [9]:
a = pd.Series([1,2,3,4],index = ["a","b","c","d"])
a

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
a["e"] = 5
a

a    0
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
a["a"] = 0
a

a    0
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
a = pd.Series(["Anantha","18EM1A0438"],index = ["name:","Rollno:"])
a

name:         Anantha
Rollno:    18EM1A0438
dtype: object

In [3]:
a = {"Name":["anantha","Bharadpandhi"],
    "age":[20,21],
    "bloodgroup":["B+","O+"]}
pd.DataFrame(a)

           Name  age bloodgroup
0       anantha   20         B+
1  Bharadpandhi   21         O+

In [16]:
a = {"Name":["anantha","Bharadpandhi"],
    "age":[20,21],
    "bloodgroup":["B+","O+"]}
b=pd.DataFrame(a)
b=b.set_index("Name")

In [17]:
b.values

array([[20, 'B+'],
       [21, 'O+']], dtype=object)

In [18]:
b.index

Index(['anantha', 'Bharadpandhi'], dtype='object', name='Name')

In [19]:
b.columns

Index(['age', 'bloodgroup'], dtype='object')

In [20]:
type(b)

pandas.core.frame.DataFrame